/*
Creator: Jose Alba
Date created: 01/11/2020
Date last modified:
*/
body {
		background-color: #A2D3C2;
		font-family: arial, helvetica, sans-serif;
	}
header {
	background-color: #233D4D;
	color: white;
	height: 100px;
	text-align: center;
	padding: 30px 10px 20px 10px;
}
h1 {
	font-size: 2.5em;
}
nav {
	border-top: 3px dashed #233D4D;
	border-bottom: 3px dashed #233D4D;
	margin-top: 4px;
}